<%- model_class = Post -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
  <b>LOGGED IN MEMBER:</b> <%= current_member[:username] %>
</div>

<% if member_signed_in? %>
    <%= link_to t('.new', :default => t("helpers.links.new")),
                new_post_path,
                :class => 'btn btn-primary' %>

<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:avatar) %></th>
      <th><%= model_class.human_attribute_name(:title) %></th>
      <th><%= model_class.human_attribute_name(:text) %></th>
      <th><%= model_class.human_attribute_name(:member_email) %></th>

      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= image_tag post.avatar.url %></td>
        <td><%= post.title %></td>
        <td><%= post.text %></td>
        <td><%= post.member_email %></td>

        <td>
          <%= link_to 'Edit', edit_post_path(post), :class => 'btn btn-mini btn-danger' %>
          <%= link_to 'Show', post_path(post), :class => 'btn btn-mini' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<% else %>

<h1> Welcome to BLOG </h1>

<% end %>