<%- model_class = Post -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
  <b>LOGGED IN MEMBER:</b> <%= current_member[:username] %>
</div>

<% if member_signed_in? %>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:avatar) %>:</strong></dt>
  <dd><%= image_tag @post.avatar.url %></dd>
  <dt><strong><%= model_class.human_attribute_name(:title) %>:</strong></dt>
  <dd><%= @post.title %></dd>
  <dt><strong><%= model_class.human_attribute_name(:text) %>:</strong></dt>
  <dd><%= @post.text %></dd>
  <dt><strong><%= model_class.human_attribute_name(:member_email) %>:</strong></dt>
  <dd><%= @post.member_email %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_post_path(@post), :class => 'btn btn-mini btn-danger' %>
  <%= link_to t('.back', :default => t("helpers.links.back")),
              posts_path, :class => 'btn'  %>
</div>

<% else %>

    <h1> Welcome to BLOG </h1>

<% end %>
